* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: #332d2d;
    font-size: 1.2rem;
    color: #fff;
}

.container {
    display: block;
    margin: 5rem auto;
    width: max-content;
    text-align: center;
}

#welcome {
    margin: 4rem 0 5rem;
    font-weight: 400;
    text-transform: uppercase;
    background: -webkit-linear-gradient(107deg, #674172, #913D88, #68C3A3, #913D88, #674172);
    background: linear-gradient(107deg, #674172, #913D88, #68C3A3, #913D88, #674172);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 400%;
    animation: writing 25s infinite linear;
    transition: all 1s;
}

@keyframes writing {
     0% {
        background-position: 400%;
    }
    100% {
        background-position: 10%;
    }
}

#gameRule {
    margin-bottom: 4rem;
    font-weight: 300;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.userGuess {
    height: 2.3rem;
    width: 10rem;
    padding: .5rem;
    border: 1px solid #dedede;
    border-radius: 4px;
    color: #674172;
    font-weight: 400;
    font-size: 1.2rem;
}

::placeholder {
    color: #674172;
    font-weight: 300;
    font-size: 1rem;
}

#buttonSubmit {
    height: 2.3rem;
    border: none;
    border-radius: 4px;
    padding: .7rem;
    cursor: pointer;
    text-transform: uppercase;
    background: #1de9b6;
}

.wizardResponse {
    margin: 2rem;
}

.danger {
    color: #d33030;
}

.winner {
    color: #119165;
}

.score-container {
    position: absolute;
    top: 13vh;
    right: 5vw;
    display: flex;
    justify-content: center;
    margin: 1rem;
}
.lives {
    font-size: 1.2rem;
    color: #f02020;
    margin-right: 1rem;
}

@media only screen and (max-width: 700px) {
    .container {
        margin: 1rem auto;
        padding: 5rem;
    }
    
    .score-container {
        top: 5rem;
    }
}
