* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
/*    font-family: 'Shadows Into Light Two';*/
    font-family: 'Lato';
    background: linear-gradient(#0f0f0f, #2a2a2e);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    font-size: 1.4vw;
    color: #b1b1b3;
    overflow: hidden;
    transition: all .1s;
}

.cat {
    font-size: 10em;
    position: absolute;
    top: 80%;
    left: 20%;
    transform: translate(-50%, -50%);
    z-index: -500;
    color: #000000;
    transition: all 3s;
}
.spider {
    font-size: 1.5em;
    height: 2.5em;
    width: 2.5em;
    position: absolute;
    bottom: 5%;
    left: 50%;
    color: #000000;
    transition: all .3s;
}

.spider::after {
    content: '';
    height: 100vh;
    width: 1px;
    background: #333;
    display: block;
    position: absolute;
    top: -99vh;
    left: 22%;
    opacity: 0;
}

.spider:hover {
    animation: spiderMove 15s linear 1 normal;
    cursor: pointer;
}

.spider:hover::after {
    opacity: 1;
}

.spider:hover ~ .cat {
    color: #fff;
}

@keyframes spiderMove {
    0% {
        transform: translateY(-0vh);
    }
    10% {
        color: #402e15;
    }
    100% {
        transform: translateY(-1000vh);
    }
}
.container {
    display: block;
    margin: 5rem auto;
    width: max-content;
    text-align: center;
}

#welcome {
    margin: 3rem 0 2rem;
    font-weight: 400;
    font-family: 'Nosifer';
    text-transform: uppercase;
    background: -webkit-linear-gradient(107deg, #674172, #913D88, #68C3A3, #913D88, #674172);
    background: linear-gradient(107deg, #674172, #913D88, #68C3A3, #913D88, #674172);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 400%;
    animation: writing 25s infinite linear;
    transition: all 3s;
}

@keyframes writing {
     0% {
        background-position: 400%;
    }
    100% {
        background-position: 10%;
    }
}

#gameRule {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: inherit;
    letter-spacing: 1px;
}

#gameRule::after,
#gameRule::before {
    content: '';
    display: block;
    height: 1px;
    width: 50%;
    background-color: #b1b1b3;
    opacity: .1;
    margin: 1.5rem auto;
}

.userGuess {
    height: 2.3rem;
    width: 10rem;
    padding: .5rem;
    border: 1px solid #b1b1b3;
    border-radius: 4px;
    color: #b1b1b3;
    font-weight: 400;
    font-size: 1.2rem;
    background: #1b1b1d;
}

.userGuess:focus {
    outline: 1px solid #9400ff;
}

::placeholder {
    color: #5c5c5f;
    font-weight: 300;
    font-size: .95rem;
}

#buttonSubmit {
    height: 2.3rem;
    border: none;
    border-radius: 4px;
    padding: .7rem;
    cursor: pointer;
    text-transform: uppercase;
    background: #70bf53;
    transition: all .4s;
}

#buttonSubmit:hover {
    background: #589841;
    color: #fff;
}

.wizardResponse {
    margin: 2rem;
}

.danger {
    color: #eb5368;
    font-size: 1.7vw;
}

.winner {
    color: #589841;
    font-size: 1.9vw;
}

.score-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1rem;
    margin: 1rem 0 2rem;
}
.lives {
    font-size: 1.2rem;
    color: #eb5368;
    margin-right: .3rem;
}

.winnerPuppet {
    height: 40vh;
    width: 180px;
    background-image: url(won.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    right: -20vw;
    bottom: -10vh;
    animation: winner 5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 1 normal;
    animation-play-state: paused;
    transition: all .4s;
    visibility: hidden;
}

@keyframes winner {
    0% {
        transform: translate(0vw, 0px);
        visibility: hidden;
    }
    
    50% {
        transform: translate(-40vw, -80%);
        visibility: visible;
    }
    
    100% {
        transform: translate(-50vw, -50%);
        visibility: visible;
    }
}

.ghost {
    font-size: 0rem;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #888;
    animation: appear 1.5s cubic-bezier(.91,-0.52,.74,4.91) 1 alternate;
    animation-play-state: paused;
}

@keyframes appear {
    0% {
        font-size: 0rem;
        opacity: 0;
    }
    
    100% {
        font-size: 7rem;
        opacity: .8;
    }
}

::selection {
    background-color: #000;
}

@media only screen and (max-width: 700px) {
    body {
        font-size: 2.7vw;
    }
    .container {
        margin-top: 8vh;
    }
    #welcome {
        margin: 2rem;
    }
    .danger, .winner {
        font-size: 3.2vw;
    }
}
